<div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-lg-6 col-7">
                <h6>Liste des Types d'Actions</h6>
                <p class="text-sm mb-0">Gestion des types d'actions disponibles.</p>
              </div>
              <div class="col-lg-6 col-5 text-end">
                <button class="btn btn-primary btn-sm" (click)="openModal(actionTypeModal, 'add')">
                  Ajouter Type d'Action
                </button>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive">
              <table class="table align-items-center mb-0" style="text-align: center;">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Libellé</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let actionType of actionTypes">
                    <td>{{ actionType.libelle }}</td>
                    <td>
                      <button class="btn btn-info btn-sm me-2" (click)="openModal(actionTypeModal, 'edit', actionType)">
                        Modifier
                      </button>
                      <button class="btn btn-danger btn-sm" (click)="deleteActionType(actionType.id)">
                        Supprimer
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Modal -->
    <ng-template #actionTypeModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveActionType(modal)">
          <div class="mb-3">
            <label for="libelle" class="form-label">Libellé</label>
            <input
              type="text"
              class="form-control"
              id="libelle"
              [(ngModel)]="selectedActionType.libelle"
              name="libelle"
              required
            />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Fermer</button>
            <button type="submit" class="btn btn-primary">{{ modalButtonLabel }}</button>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
  