
        <div class="container-fluid py-4" style="margin-top: 200px;" >
            
            <div class="row mt-lg-n10 mt-md-n11 mt-n10"   >
                <div>
                    <div class="card z-index-0 " style=" height: 620px;width: 900px;margin-left:300px; margin-top: 50px;">
                        <div class="card-header text-center pt-4 bg-primary  " style="margin-bottom: 20px;">
                            <h5 class="font-weight-bolder text-white ">FORMULAIRE DEMANDE CONGE</h5>
                        </div>
                        <div class="card-body" style="  width: 900px ;">
                            <form role="form text-left">
                                <div class="row">
                                    <!-- Première colonne de 4 inputs -->
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label for="cible" class="form-label">Type Congé</label>
                                            <select id="cible" class="form-control">
                                                <option value="">Choisir Type</option>
                                                <!-- Options basées sur l'enum Cible -->
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="name" class="form-label">DESCRIPTION</label>
                                            <input type="text" id="name" class="form-control" placeholder="" aria-label="Name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="phone" class="form-label">Date debut </label>
                                            <input type="date" id="phone" class="form-control" placeholder="" aria-label="Phone">
                                        </div>
                                        <div class="mb-3">
                                            <label for="phone" class="form-label">Date fin </label>
                                            <input type="date" id="phone" class="form-control" placeholder="" aria-label="Phone">
                                        </div>
                                       
                                    </div>
                                    
                                   
                                </div>
                                <!-- Bouton au bas, centré -->
                                <div class="text-center" style="margin-top: 10px;">
                                    <button type="button" class="btn bg-primary font-weight-bolder text-white   w-30 my-4">Envoyer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

