<div class="container-fluid px-4">
    <div class="row">
      <div class="col-md-12 p-3">
        <!-- Liste des attestations de travail -->
        <div class="card">
          <div class="card-header pb-0 p-3">
            <h6 class="mb-0 px-4">Liste des Attestations de travail</h6>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive">
              <table class="table align-items-center mb-0" style="text-align: center;">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width: 100px;">NOM & PRENOM</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width: 100px;">TYPE</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width: 90px;">DATE SOUHAITÉE</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width: 100px;">DESCRIPTION</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width: 100px;">STATUT</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width: 100px;">Validation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let attestation of attestations">
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ attestation.utilisateur?.nom }} {{ attestation.utilisateur?.prenom }}</h6>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">{{ attestation.typeAttestation?.nom }}</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">{{ attestation.dateSouhaitee | date: 'dd/MM/yyyy' }}</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">{{ attestation.motif }}</span>
                    </td>
                    <td class="align-middle text-left text-sm">
                        <span class="badge badge-sm" [ngClass]="{
                          'bg-gradient-success': attestation.etatDemande == 'APPROUVEE',
                            'bg-gradient-danger': attestation.etatDemande == 'REJETEE',
                            'bg-gradient-warning': attestation.etatDemande == 'EN_ATTENTE'
                        }">{{ attestation.etatDemande }}</span>
                    </td>
                    <td class="align-middle text-left text-sm">
                        <a class="btn btn-link text-dark mb-0" href="javascript:;" (click)="validerAttestation(attestation?.id)">
                          <i class="fas fa-check text-success" aria-hidden="true"></i>
                        </a>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

